<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <app-sidenav-list (closeSideNav)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <app-toolbar (SideNavToggle)="sidenav.toggle()"></app-toolbar>
        <app-navtabs></app-navtabs>

        <main>
            <div class="tam">
                <div fxLayout="row" fxLayoutAlign="center none">
                    <div fxFlex="10"></div>
                    <div fxFlex="80" style="padding-top: 45px; padding-left: 10%;">
                        <mat-card class="example-card">
                            <mat-card-content>
                                <h1 class="titulo">{{proyecto?.nombre}}</h1>
                                <mat-divider></mat-divider>
                                <h3 class="text3" style="font-weight: bold;">Descripción</h3>
                                <p class="text">{{proyecto?.descripcion}}</p>
                                <p class="text2">
                                    <mat-icon style="color: rgb(7, 172, 21);">paid</mat-icon>
                                    Recompensa: {{proyecto?.recompensa | currency}}</p>
                                <p class="text3" style="font-weight: bold;">Criterios: <span style="font-weight: normal;">{{proyecto?.criterios}}</span>
                                </p><br>
                                <p class="text3" style="font-weight: bold;">Fecha de Apertura: <span style="font-weight: normal;">{{proyecto?.publicacion | date:'dd-MM-yyyy'}}</span> <span style="font-weight: bold; margin-left: 20px;">Fecha de Cierre: </span> <span style="font-weight: normal;">{{proyecto?.cierre | date:'dd-MM-yyyy'}}</span></p>
                                <mat-divider></mat-divider>

                                <p class="text3" style="font-weight: bold; padding-top: 20px;">Telefono: <span style="font-weight: normal;">{{proyecto?.telefono}}</span >  <span class="text2" style="padding-left: 20%;">correo: </span> <span style="font-weight: normal;">{{proyecto?.email}}</span ></p>
                            </mat-card-content>
                        </mat-card>
            
                    </div>
                    <div fxFlex="10"></div>
                </div>
            </div>
            

        </main>

    </mat-sidenav-content>
</mat-sidenav-container>