<!-- <mat-toolbar color="primary">
<span>Innov</span>
    </mat-toolbar> -->
<img src="../../../assets/imgs/ffondo.jpg" class="tam" alt="fondo">
<div class="body pt-5">
    <mat-card style="border-radius: 15%; background-color: #BCD4EC;  width: 130%;  max-width: 335px; " >
        <div class="login">
            <br>
            <h1> Iniciar sesión</h1>
            <form id="conctactForm" [formGroup]="log" (ngSubmit)="loginUser()">
                <mat-form-field appearance="fill" class="ancho">
                    <mat-label class="label">Correo electrónico</mat-label>
                    <input matInput name="email" type="email" placeholder="Nombredelusuario" formControlName="email">
                    <mat-error *ngIf="log.get('email').hasError('required')">Campo Obligatorio</mat-error>
                    <mat-error *ngIf="log.get('email').hasError('pattern')">Ingrese un Email Valido</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="ancho">
                    <mat-label class="label">Contraseña</mat-label>
                    <input matInput name="password" type="password" placeholder="****" formControlName="password">
                    <mat-error *ngIf="log.get('password').hasError('required')">Campo Obligatorio</mat-error>
                </mat-form-field>
                <mat-checkbox class="checkbox"> Recuerdame  </mat-checkbox>
                <br>
                <p>¿Olvidaste tu contraseña?</p>
                <br>
                <button class="boton_personalizado"  type="submit" [disabled]="log.invalid">Ingresar</button>
            </form>
            <br>
           
                 <button mat-button color="accent" [routerLink]="['/register']">Crear cuenta</button> 
            
            <br>
            <section class="example-section">
            </section>
        </div>
    </mat-card>

</div>